.toggle {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle:checked {
  background-color: #58CC02;
}

.toggle:checked::after {
  left: calc(100% - 18px);
}

.toggle::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s;
}
